<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Singup Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>Singup Page</h1>
        <form method="post" action="/auth">
            <label for="name">
                Name:<input type="text" name="name">
            </label>

            <label for="email">
                Name:<input type="text" name="email">
            </label>

            <label for="password">
                Name:<input type="password" name="password">
            </label>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>